/** colores de fondo */
.fondoverde{
    background-color: #077918;
}
.fondorojo{
    background-color: brown;
}
.fondoazul{
    background-color: #053D96;
}
.fondomorado{
    background-color: #50035D;
}
.fondoblanco{
    background-color: white;
}
.fondoamarillo{
    background-color: #A47506;
}

/** colores de letra */
.letrablanca{
    color: white;
}
.letranegra{
    color: black;
}

/** tamaño de letra */
.tamañoletra{
    font-size: 2em;
}

/** bordes */
.bordegris1{
    border: 15px outset #3B403C;
}
.bordenegro{
    border: 1px solid black;
}
.bordegrisa{
    border: 5px outset #72716F;
}
.bordegrisb{
    border: 10px solid #72716F;
}
.bordegrisc{
    border: 2px outset #72716F;
}
/** tamaño de recuadro a las orillas */
.tamañorecuadro{
    width: 100%;
    height: 100%;
}

/** margen */
.margen{
    margin: -5px;
    padding: -5px;
}