/** colores de fondo */
.fondoverde{
    background-color: #20df3d;
}
.fondorojo{
    background-color: rgb(214, 34, 34);
}
.fondoazul{
    background-color: #0575DD;
}
.fondomorado{
    background-color: rgb(150, 17, 173);
}

/** colores de letra */
.letrablanca{
    color: white;
}

/** tamaño de letra */
.tamañoletra{
    font-size: 2em;
}

/** bordes */
.bordeblanco{
    border: 3px solid white;
}

/** tamaño de recuadro a las orillas */
.tamañorecuadro{
    width: 100%;
    height: 100%;
}
.tamañorecuadro1{
    width: 25%;
}
.tamañorecuadro2{
    width: 30%;
    height: 300px;
}
.tamañorecuadro3{
    width: 100%;
}